@charset "UTF-8";

.menu {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
/* 	background-color: green; */
	width: 100%;
	display: block;
	height: 80px;
	border-top: 3px solid #F48024;
}

.logo {
	width: 30%;
	float: left;
	cursor: pointer;
	padding-left: 2%;
}

#logoImg {
	width: 216px;
	height: 80px;
}

.botones {
	width: 30%;
	float: left;
/* 	background-color: #339933; */
	padding-top: 22px;
	padding-bottom: 22px;
	
}

.datosUsuario {
	width: 30%;
	float: right;
/* 	background-color: #999933; */
	padding-top: 22px;
	padding-bottom: 22px;
	padding-right: 30px;
}

#boton039091 {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #fff;
	background-color: #039091;
	border: 1px solid #F48024;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
}

#boton0095ff {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #fff;
	background-color: #0095ff;
	border: 1px solid #F48024;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
}

#botonVerde {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #fff;
	background-color: #008000;
	border: 1px solid #F48024;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
}

#botonAzul {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #fff;
	background-color: #1f45e0;
	border: 1px solid #F48024;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
}

#botonNegro {
	cursor: pointer;
	float: right;
	margin-left: 10px;
	color: #fff;
	background-color: #000;
	border: 1px solid #F48024;
	border-radius: 8px;
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

#usuarioImg {
	width: 35px;
	height: 35px;
	float: right;
	border-radius: 8px;
	
}