@charset "UTF-8";

/*Genéricos**********************************************/
.border-color-dam {
	border: 1px solid #F48024;
	display: inline-block;	
}

.table-margin-dam {
	width: 93.5%;
	margin: 2rem;
}



/*Menu*************************************************/
.margin-header{
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 15px;
}
.menu-dam {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
	width: 97%;
	height: 80px;
	border-top: 3px solid #F48024;
}

#logoImg {
	width: 216px;
	height: 80px;
}

#usuarioImg {
	width: 35px;
	height: 35px;
	float: right;
	border-radius: 8px;
	margin: 0 0 0 10px;
}

.fondo-008000 {
	background-color: #008000;
	color: #fff;
}

.fondo-1f45e0 {
	background-color: #1f45e0;
	color: #fff;
}



/*Login*************************************************/
.fondo-candado {
 background-image: url("../imgs/candado-difuminado.png");
 background-repeat: no-repeat;
}