@charset "UTF-8";

/****************Login inicio*************************************************/

.fondo-candado {
 background-image: url("../imgs/candado-difuminado.png");
 background-repeat: no-repeat;
}

/****************Login fin*************************************************/

.form-control{
	height: auto;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: blue;
}

.navbar-header .navbar-toggle:hover {
	background-color: #e9e9e9;
	border-color: red;
}

.navbar-header .navbar-toggle {
	border-color: blue;	
}

.menu-style {
	font-size: 16px;
	color: white;
}

#logoImg {
	height: 5rem;
	opacity: 1.0;
}

#logoImg:hover {
	opacity: 0.5;
}

.usuarioImg {
	height: 46px;
	display: block;
	border-radius: 8px;
}

.usuarioImgSize {
	max-width: 46px;
	max-height: 46px;
	display: block;
}

body {
	padding-top: 52px; /*esto es para que no se ponga la info bajo la barra de navegación*/
}
		
.border-color-dam {
	border: 1px solid #F48024;
}

.dropdown-dam-1 {
	border: 1px solid #F48024;
	padding: 7px 15px 6px 15px;
	border-radius: 4px;
	background-color: gold;
	display: inline-block;
}

.inline-block-dam {
	display: inline-block;
}

.margin-right-10px {
	margin-right: 10px;
}

.navbar-collapse .navbar-form {
	padding-top: 10px;
	cursor: pointer;
}

.navbar-collapse .navbar-form .dropdown-toggle {
	border-width: 0;
	color: #337ab7;
	cursor: pointer;
}

.navbar-collapse .navbar-form .dropdown-toggle option {
	font-size: 18px;
}

@media (max-width: 1282px) and (min-width: 1200px) {
	.desaparece-1200-1282 {
		display: none;
	}
}

.bg-color-white-dam {
	background-color: #fff;
}

.botonesindex {
	border-radius: 18px;
	text-align: center;
	padding: 5px;
	width: 95%;
	cursor: pointer;
}

.botonesindex:hover {
	opacity: 80%;
}

/*Genéricos**********************************************/

button:hover{
	opacity: 0.7;
}

.navbar {
	margin-bottom: 10 !important;
}

.collapse.in {
	max-height: none !important;
	background-color: white;
}

.well {
	margin-bottom: 10 !important;
}

.bg-white {
	background-color: white;
}

.border-radius-10 {
	border-radius: 10px;
}

.border-radius-15 {
	border-radius: 15px;
}

.separacion10 {
	height: 10px;
}

.separacion20 {
	height: 20px;
}

.padding9 {
	padding: 9px;
}

.height27 {
	height: 27px;
}

.speechPublicitario {
	text-align: center;
	font-size: 16px;
	padding: 40px;
}

.item-center {
	text-align: -webkit-center;
}

.changeitem {
	bottom: -15px;
}

.changeitem li {
	background-color: orange;
}

.changeitem .active {
	background-color: blue;
}

.titulossecundarios {
	padding: 30px;
	color: #333;
	font-size: 27px;
	text-transform: uppercase;
}

.nav-link {
	background-color: #e1e1e1;
}

.nav-item .active {
	background-color: #9dd09e;
}

.productoOferta {
	background-color: #aeb1bf;
	color: #3305bc;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	height: 58px;
	width: 100%;
}

.productoOfertaLineas {
	position: relative;
	float: left;
}

.productoOfertaSin {
	color: #9b0000;	
	text-align: right;
}

.productoOfertaCon {
	text-align: right;	
}

.productoOfertaFecha {
	color: #9b0000;		
	text-align: right;
}

.margin-left-5px {
	margin-left: 5px;
}