@media (min-height: 1024px) {
	.divTabla {
	    overflow:scroll;
	    height:860px;
	}
}

@media (max-height: 1023px) and (min-height: 960px) {
	.divTabla {
	    overflow:scroll;
	    height:800px;
	}
}

@media (max-height: 959px) and (min-height: 864px) {
	.divTabla {
	    overflow:scroll;
	    height:700px;
	}
}

@media (max-height: 863px) and (min-height: 768px) {
	.divTabla {
	    overflow:scroll;
	    height:600px;
	}
}

@media (max-height: 767px) and (min-height: 720px) {
	.divTabla {
	    overflow:scroll;
	    height:560px;
	}
}

@media (max-height: 719px) {
	.divTabla {
	    overflow:scroll;
	    height:430px;
	}
}

.divTabla thead th { 
	position: sticky; 
	top: -0.1rem; 
	background-color: #fff;
	vertical-align: middle !important;
	padding-top: 0;
	padding-bottom: 0;
}

.divTabla tbody td{	
	vertical-align: middle !important;
	padding-top: 0;
	padding-bottom: 0;	
}

@media (min-height: 1024px) {
	.divTablaSinScroll {
	    height:860px;
	}
}

@media (max-height: 1023px) and (min-height: 960px) {
	.divTablaSinScroll {
	    height:800px;
	}
}

@media (max-height: 959px) and (min-height: 864px) {
	.divTablaSinScroll {
	    height:700px;
	}
}

@media (max-height: 863px) and (min-height: 768px) {
	.divTablaSinScroll {
	    height:600px;
	}
}

@media (max-height: 767px) and (min-height: 720px) {
	.divTablaSinScroll {
	    height:560px;
	}
}

@media (max-height: 719px) {
	.divTablaSinScroll {
	    height:430px;
	}
}

.divTablaSinScroll thead th { 
	position: sticky; 
	top: -0.1rem; 
	background-color: #fff;
	vertical-align: middle !important;
	padding-top: 0;
	padding-bottom: 0;
}

.divTablaSinScroll tbody td{	
	vertical-align: middle !important;
	padding-top: 0;
	padding-bottom: 0;	
}

th:hover {
	cursor: pointer;
}

.tamanio_imagen {
	width: 1.5rem;
	height: 1.5rem;	
}

.sin_padding{
	padding: 0 !important;
}

.form-control-dam{
	height: calc(1.5rem + .75rem + 2px);
	padding-right: 0.75rem;
	padding-bottom: 0.375rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.border-1px-ddd {
	border: 1px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #3e8e41;
}

.padding-5-25-dam {
	padding: 5px 25px;
}