.divTabla {
    overflow:scroll;
    height:45rem;
}

.divTabla thead th { 
	position: sticky; 
	top: -0.1rem; 
	background-color: #fff;
	vertical-align: middle !important;
}

.divTabla tbody td{	
	vertical-align: middle !important;
}

th:hover {
	cursor: pointer;
}

.tamanio_imagen {
	width: 1.5rem;
	height: 1.5rem;	
}

.sin_padding{
	padding: 0 !important;
}