.temamuestra {
    text-align: center;
	border: 1px solid #216f25;
	padding: 0.25rem;
    border-radius: 2rem;
	font-weight: 500;
	font-size: 2rem;
	margin: 5px;
}

.tematamanioletra {
	font-weight: 300;
	font-size: 14px;	
}

.margin-tb-5px {
	margin-top: 5px;
	margin-bottom: 5px;
}

.padding-top-9-rem {
	padding-top: 9rem;
}

/**************************** default ******************************************/

.defaulttitulo {	
	color: #000000;
	background-color: #bcd2e2;
}

.defaultbotonguardar {	
	color: #f0f0ff;
	background-color: #2d5cff;
	border: 1px solid #F48024;
}

.defaultbotoncancelar {	
	color: #000000;
	background-color: #e5e5e5;
	border: 1px solid #F48024;
}

.defaultbotonagregar {	
	color: #f0f0ff;
	background-color: #2d5cff;
	border: 1px solid #F48024;
}

.defaultbotonresto {	
	color: #f0f0ff;
	background-color: #006a9d;
	border: 1px solid #F48024;
}

.defaultfondopantalla {
	color: #495057;
	background-color: #fff;
}

/**************************** tema02 ******************************************/

.tema02titulo {	
	color: #000000;
	background-color: #f2fdf4;
}

.tema02botonguardar {	
	color: #000000;
	background-color: #00ce77;
	border: 1px solid #ff00ff;
}

.tema02botoncancelar {	
	color: #000000;
	background-color: #dafe49;
	border: 1px solid #F48024;
}

.tema02botonagregar {	
	color: #000000;
	background-color: #00ce77;
	border: 1px solid #F48024;
}

.tema02botonresto {	
	color: #000000;
	background-color: #bee4e4;
	border: 1px solid #F48024;
}

.tema02fondopantalla {
	color: #000000;
	background-color: #d1fec5;
}

/**************************** tema03 ******************************************/

.tema03titulo {	
	color: #101c85;
	background-color: #f0edfc;
}

.tema03botonguardar {	
	color: #0c145f;
	background-color: #64ffff;
	border: 1px solid #F48024;
}

.tema03botoncancelar {	
	color: #0c145f;
	background-color: #ffa6ff;
	border: 1px solid #F48024;
}

.tema03botonagregar {	
	color: #0c145f;
	background-color: #64ffff;
	border: 1px solid #F48024;
}

.tema03botonresto {	
	color: #fdfbff;
	background-color: #b062ff;
	border: 1px solid #F48024;
}

.tema03fondopantalla {
	color: #495057;
	background-color: #dcdafe;
}